<!--Sources:
    https://www.codingnepalweb.com/dropdown-select-menu-javascript/
    https://www.youtube.com/watch?v=1TM0_5j6VLA
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkillSync</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <article id="intro">
            <h2 id="logo"> SkillSync</h2>
            <h1 id="welcome">Welcome to SkillSync <p>Your Gateway to Career Success!</p></h1>
        </article>
    </header>

    <main>
        <article id="about">
            <section id="container">
                <h2>About Us</h2>
                <p>At SkillSync, we believe in empowering individuals to reach their career goals by providing personalized insights and guidance. Whether you're a recent graduate, a seasoned professional looking to pivot, or anyone in between, our platform is designed to help you identify the skills that matter most for your desired job.</p>
            </section>  
        </article>
        
        <article id="hero">
                <form>
                    <fieldset>
                        <legend>Job Search</legend>
                        <section class="input-group">
                            <label for="keyword">Job Title</label>
                            <input type="text" name="keyword" id="keyword" autocomplete="on" required>
                            <p>eg. Software Engineer</p>
                        </section>
                        <section class="input-group">
                            <label for="datePosted">Data Posted</label>
                            <select name="datePosted" id="datePosted">
                                <option value="anyTime">Any Time</option>
                                <option value="pastMonth">Past Month</option>
                                <option value="pastWeek">Past Week</option>
                                <option value="past24Hours">Past 24 Hours</option>
                            </select>
                        </section>   
                        <section class="input-group">
                            <label for="jobType">Job Type</label>
                            <select name="jobType" id="jobType">
                                <option value=""></option>
                                <option value="fullTime">Full Time</option>
                                <option value="partTime">Part Time</option>
                                <option value="contract">Contract</option>
                            </select>
                        </section>  
                        <section class="input-group">
                            <label for="experienceLevel">Experience Level</label>
                            <select name="experienceLevel" id="experienceLevel">
                                <option value=""></option>
                                <option value="internship">Internship</option>
                                <option value="associate">Associate</option>
                                <option value="director">Director</option>
                                <option value="entryLevel">Entry Level</option>
                                <option value="midSeniorLevel">Mid Senior Level</option>
                            </select>
                        </section>
                        <section class="input-group">
                            <label for="onsiteRemote">Remote</label>
                            <select name="onsiteRemote" id="onsiteRemote">
                                <option value=""></option>
                                <option value="onSite">On Site</option>
                                <option value="remote">Remote</option>
                                <option value="hybrid">Hybrid</option>
                            </select>
                        </section>
                    </fieldset>   
                    <button type="submit" formaction="https://httpbin.org/post" formmethod="post">SEARCH</button>
                </form>
        </article>
    </main>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    
</body>
</html>